<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= contentOf("title") {%>
        <title>Lickerbot</title>
    <% } %>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap" rel="stylesheet">

    <!-- for twitter -->
    <meta name="twitter:widgets:theme" content="dark">
    <body>

  </head>
    <nav>
        <ul>
            <li><a href="/"><img src="/assets/images/logo.svg" class="logo"><span> </span> Lickerbot</a></li>
        </ul>
    </nav>
    <div class="page">
      <%= yield %>
    </div>

    <script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>
    <%= javascriptTag("application.js") %>
  </body>
</html>
